<div class="formulario">
  <div class="tabcontent">
    <h3>Cadastro de Salas</h3>

  <form>
    <div class="mb-3">
    <label for="nomesala" class="form-label"><strong>Nome da Sala</strong></label>
    <input type="text"  class="form-control" name="nomesala" id="nomesala" required>
  </div>

  <div class="mb-3">
    <label for="lotacao" class="form-label"><strong>Lotação</strong></label>
    <input type="number" class="form-control" name="lotacao" id="lotacao" required>
  </div>
  
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" onclick="Salvar()">Salvar
            </div>
  </form>
  </div>
</div>