  <div id="pessoas" class="tabcontent">
    <h3 id="title">Cadastro de pessoas</h3>
    <form>

  <div class="mb-3">
    <label for="nome" class="form-label"><strong>Nome</strong></label>
    <input type="text" class="form-control" id="nome" required>
  </div>

  <div class="mb-3">
    <label for="sobrenome" class="form-label"><strong>Sobrenome</strong></label>
    <input type="text" class="form-control" id="sobrenome" required>
  </div>

  <button type="submit" class="btn btn-primary" onclick="Salvar()">Salvar</button>
</form>
  </div>
