 <div id="pessoas" class="tabcontent">
    <h3 id="title">Cadastro de pessoas</h3>

<form>
  <div class="mb-3">
    <label for="nomesala" class="form-label"><strong>Nome da Sala</strong></label>
    <input type="text"  class="form-control" name="nomesala" id="nomesala" required>
  </div>

  <div class="mb-3">
    <label for="lotacao" class="form-label"><strong>Lotação</strong></label>
    <input type="number" class="form-control" name="lotacao" id="lotacao" required>
  </div>
  
  <button type="submit" class="btn btn-primary" onclick="salvar()">Salvar</button>
</form>

</div>