<div style="display: flex; justify-content: center; margin-top: 20px;">
  <h1>Tabela de pessoas cadastras</h1>
</div>

<div class="tabela">
  <table class="table table-bordered" style="width: 100%">
    <thead>
      <tr>
        <th scope="col" style="width: 33%;">id</th>
        <th scope="col" style="width: 33%;">Nome</th>
        <th scope="col" style="width: 33%;">Sobrenome</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>